@login: legions-login;

.@{login}{
    position : absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 237, 251, 1);
    overflow: hidden;
    flex-direction: column;
    display: flex;
    .desc{
      padding-top: 168px;
      padding-left: 100px;
      height: 551px;
      .img{
        width: 550px;
        height: 551px;
      }
    }
    .submit{
        width: 550px;
        height: 100px;
        margin-left: 100px;
        margin-top: 135px;
        button{
            background: #0E8FE9;
            border-radius: 50px;
            font-size: 32px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #FFFFFF;
        }
    }
    .text{
        height: 54px;
        font-size: 39px;
        padding-top: 101px;
        padding-left: 180px;
        padding-right: 180px;
        width: 390px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #2D2E2E;
        line-height: 54px;
        text-align: center;
        white-space: nowrap;
    }
}
