.bottom-tab-wrap{
  position: fixed;
  display: flex;
  width: 100%;
  height: 64PX;
  bottom: 0;
}

.bottom-tab {
  margin-top: 15PX;
  display: flex;
  height: 49PX;
  width: 100%;
  background: white;
  box-shadow: 0PX -5PX 10PX 0PX rgba(0, 0, 0, 0.03);
  bottom: 0;
  &-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-img {
      margin: 5PX auto 0;
      width: 24PX;
      height: 24PX;
    }
    &-text {
      height: 14PX;
      line-height: 14PX;
      font-size: 10PX;
      font-family: PingFangSC-Light, PingFang SC;
      font-weight: 300;
      color: rgba(68, 68, 68, 1);
    }
  }
  .scan-wrap{
    height: 60PX;
    width: 60PX;
    border-radius: 100%;
    background-color: #ffffff;
    box-shadow: 0PX -5PX 10PX 0PX rgba(0, 0, 0, 0.03);
    left: 50%;
    top: -15PX;
    transform: translateX(-50%);
    position: absolute;
    padding: 3PX;
    display: flex;
    justify-content: center;
    align-items: center;
    &-box{
      height: 52PX;
      width: 52PX;
      border-radius: 100%;
      background-color: #fc690a;
      &:active{
        opacity: .8;
      }
    }
  }
  .scan-img{
    width: 40PX;
    height: 40PX;
  }
}
